<!-- Work Experience Section -->
            <section class="section">
                <h2><span class="accent">Application</span> Products</h2>
                <div class="timeline">
                    <div class="timeline-item">
                        <div class="timeline-dot"></div>
                        <div class="timeline-content">
                            <div class="timeline-header">
                                <h3 class="timeline-title">Loop Safety</h3>
                                <span class="timeline-period">2025 - Present</span>
                            </div>
                            <h4 class="timeline-company">Active</h4>
                            <p class="timeline-description">
                                Loop is a location based safety application that helps users stay safe by providing real-time alerts and safety tips based on their location.
                                With a community driven approach, Loop empowers users to share safety information and stay informed about potential risks in their area.
                            </p>
                            
                            <div class="achievements">
                                <div class="achievement">
                                    <span>Currently in development</span>
                                </div>
                                <div class="achievement">
                                    <span>Will be available in App Store and Google Play</span>
                                </div>
                            </div>
                            
                            <a class="timeline-description" href="https://www.loopsafety.online">Click here to learn more.</a>
                        </div>
                    </div>
                </div>
            </section>
